slides > slide.title-slide > hgroup {
  background: rgba(255,255,255,.8) !important;
  border-radius: 50px;
  padding: 25px;
}

slides > slide.title-slide > aside {
  background: rgba(255,255,255,.8);
}

slides > slide > article.larger {
  font-size: 30pt;
}

slides > slide.backdrop {
  background-image: url("img/slide-bg.png");
  background-size: contain;
}

slides > slide.title-slide {
  background-image: url("img/title-bg.png");
  background-size: contain;
}

slides > slide.current > hgroup > h2 {
  color: white;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
  font-size: 2.5em;
}